body {
    margin: 0;
    padding: 0;
}

.full-section,
.half-section,
.mini-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-section {
  height: 80vh;
}

.half-section {
  height: 40vh;
}

.mini-section {
    height: 20vh;
}