.homepage-container {
    background-color: black;
    color: white;
}

.hero-image {
    width: 22rem;
    height: 20rem;
}


.homepage-image-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .homepage-image {
    max-width: 45%; 
    height: auto; /* Maintain the aspect ratio of the images */
  }

  .shop-homepage-image {
   width: 12rem;
  }

  .shop-text {
    font-size: .8rem;
  }